<div class="container-fluid" *ngIf="weatherDetail">
    <div class="alert alert-primary" role="alert">
        <div class="h3"> <a class="h5 back-arrow" routerLink="/"><</a> {{weatherDetail.name}} -
            <span class="h5">{{weatherDetail.sys.country}}</span>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>Temperature</td>
                <td>{{weatherDetail.main.temp}}</td>
            </tr>
            <tr>
                <td>sunrise time</td>
                <td>{{getDateTime(weatherDetail.sys.sunrise)}}</td>
            </tr>
            <tr>
                <td>sunset time</td>
                <td>{{getDateTime(weatherDetail.sys.sunrise)}}</td>
            </tr>
            <tr>
                <td>weather</td>
                <td>{{weatherDetail.weather[0].main}} - ({{weatherDetail.weather[0].description}})</td>
            </tr>
        </tbody>
    </table>
</div>