<div class="container-fluid">
    <div class="alert alert-primary" role="alert">
        List of cities in the European Union
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cityDetails of cityList" (click)="gotoDashboard(cityDetails)">
                <th scope="row">{{cityDetails.id}}</th>
                <td>{{cityDetails.city}}</td>
                <td>{{cityDetails.country}}</td>
            </tr>
        </tbody>
    </table>
</div>